button {
    border-radius: 8px;
    border: 1px solid #005872;
    box-shadow: none;
    padding: 0.3rem 1rem;
    height: 2rem;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    color:#005872;
    transition: all 0.25s;
  }
  
  button:hover {
    border-color: #0095c3;
    background-color: #0095c3;
    color:#f9f9f9
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto #0095c3 none;
  }

  @media (prefers-color-scheme: light) {
    button {
      background-color: #f9f9f9;
    }
  }
  